<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in entry.contents %}
    <li class="list-group-item">
      <h5 class="font-italic">{{ content.title }}</h5>
      {% if content.items %}
        {% if entry.badges %}
          <ul class="subitems badges">
            {% for subitem in content.items %}
              <li><span class="skill-badge">{{ subitem }}</span></li>
            {% endfor %}
          </ul>
        {% else %}
          <ul class="subitems">
            {% for subitem in content.items %}
              <li>
                <span class="subitem">{{ subitem }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
