<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}" class="text-decoration-none">
    <img
      class="rounded-circle mb-2"
      alt="{{ include.username }}"
      src="https://github.com/{{ include.username }}.png"
      style="width: 120px; height: 120px; object-fit: cover;"
    >
    <p class="font-weight-bold mb-0">@{{ include.username }}</p>
  </a>
</div>
